.home-page {
    position: relative;
    width: 100%;
    height: 700px;
    padding: 10px;
    background-color: #404EED;
    background-image: url(../assets/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-page>nav>.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}

button {
    display: inline-block;
    align-items: center;
    appearance: none;
    padding: 8px 15px;
    font-size: var(--button-font-size);
    border-radius: 100vw;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.btn {
    display: flex;
    column-gap: 0.375rem;
    align-items: center;
}

.btn>button:active:not(button.hamburger-btn) {
    background-color: #f5f5f5;
}

.home-page__content {
    width: 850px;
    text-align: center;
}

.btn-group {
    column-gap: 1.5rem;
}

.home-page__content>h1 {
    font-size: var(--heading-font-size);
    color: #fff;
    font-weight: bolder;
}

.home-page__content>p {
    font-weight: 400;
    font-size: var(--context-font-size);
    color: #fff;
    line-height: 1.65;
}

.download-svg {
    font-size: var(--button-font-size);
}

.home-page__content button {
    padding: 16px 32px;
    font-size: var(--button-font-size);
    display: inline-flex;
    column-gap: 0.5rem;
    align-items: center;
}

.home-page__content button.black {
    background-color: var(--dark-color);
    color: #fff;
}

.left-hero {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    margin-left: -1024px;
}

.right-hero {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    left: 50%;
    margin-left: 370px;
}

.second-section {
    min-height: 100vh;
}

@media only screen and (max-width: 768px) {
    .home-page__content {
        text-align: left;
    }

    .btn-group {
        flex-direction: column;
        justify-content: flex-start;
    }

    .left-hero {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .btn-group {
        flex-direction: column;
        row-gap: 1.5rem;
    }
}
