.info-container {
    width: 100%;
    max-width: 1260px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 85px 10px;
}

.info {
    display: grid;
    grid-template-columns: repeat(var(--num-grid-columns), 1fr);
    place-content: center;
}

.info>.info-hero-img {
    grid-column: 1/span 7;
}

.info>.info-context {
    display: flex;
    flex-direction: column;
    grid-column: 9/span 4;
    line-height: 32.5px;
}

h2 {
    font-size: var(--heading-font-size);
    color: var(--dark-color);
    line-height: 57.6px;
}

p {
    color: #23272a;
    font-size: var(--context-font-size);
}

.diff-color {
    background-color: #F6F6F6;
}

.info.reverse>.info-hero-img {
    order: 2;
    grid-column: 6/span 7;
}

.info.reverse>.info-context {
    order: 1;
    grid-column: 1/span 4;
}

.last-info-context {
    grid-column: 2/-2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.last-hero-img {
    grid-column: 1/-1;
}

.start-journey {
    max-width: 1260px;
    width: 100%;
    margin-inline: auto;
    padding-bottom: 85px;
}

.inner-start-journey {
    width: 480px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.inner-start-journey>.stars {
    position: absolute;
    top: 0;
}

.inner-start-journey>h2 {
    margin-top: 2rem;
    font-size: var(--small-heading-font-size);
}

.start-journey button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 16px 32px;
    width: max-content;
    margin-inline: auto;
    color: #fff;
    background-color: var(--brand-color);
    transition: background-color 0.2s ease-in-out;
}

.start-journey button:hover {
    background-color: #7983F5;
}

@media only screen and (max-width: 768px) {

    .info>.info-hero-img,
    .info>.info-context,
    .info.reverse>.info-hero-img,
    .info.reverse>.info-context {
        grid-column: 1/-1;
    }

    .info.reverse>.info-context {
        order: 2;
    }

    .info.reverse>.info-hero-img {
        order: 1;
    }

    h2 {
        font-size: var(--small-heading-font-size);
    }
}
