nav.primary-navbar {
    max-width: 1260px;
    width: 100%;
    margin-top: 0.5rem;
    margin-inline: auto;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 100vw;
}

ul {
    padding: 0;
    margin: 0 1.5rem;
    display: flex;
    column-gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

ul li a {
    color: #fff;
    font-weight: 500;
}

ul li a:hover {
    text-decoration: underline;
}

a.login-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 100vw;
}

.hamburger-btn {
    display: none;
    appearance: none;
    background-color: transparent;
    color: #fff;
    padding: 0;
}

@media only screen and (max-width: 1024px) {
    nav.primary-navbar {
        padding: 8px 14px;
    }

    .links {
        display: none;
    }

    button.hamburger-btn {
        display: block;
    }

}
