nav.hamburger-navbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 100vh;
    padding: 15px 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    z-index: 99999;
    transform: translateX(100%);
    transition: transform 0.25s ease-out;
}

nav.hamburger-navbar>.line {
    width: 100%;
    height: 1.5px;
    margin-block: 1rem;
    background-color: #f6f6f6;
}

.upper-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-navbar__links ul {
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.hamburger-navbar__links ul li {
    padding: 10px;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: calc(var(--context-font-size) - 2px);
    border-radius: 6px;
}

.hamburger-navbar__links ul li a {
    color: #888;
}

.hamburger-navbar__links ul li.active {
    background-color: #f6f6f6;
}

.hamburger-navbar>.placeholder {
    flex: 1;
}

.hamburger-navbar>button {
    color: #fff;
    background-color: var(--brand-color);
}
