@import "./navbar.css";
@import "./responsive-navbar.css";
@import "./home-page.css";
@import "./info-section.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --num-grid-columns: 12;
    --heading-font-size: 40px;
    --small-heading-font-size: 24px;
    --button-font-size: 20px;
    --context-font-size: clamp(16px, 2vw, 20px);
    --brand-color: #404EED;
    --dark-color: #222;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}

.perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-img {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.common-button {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 12px 32px;
    width: max-content;
    margin-inline: auto;
    color: #fff;
    background-color: var(--brand-color);
    transition: background-color 0.2s ease-in-out;
}
